/*!
 * PMI_Index v1 
 * Copyright 2017/11/16 Dand
 */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial
}

a {
    color: black;
}

#body_div{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: arial
}
/*头部*/

#Header {}

.navbar {

    background: #646464;
    border-radius: 0;
    margin: 0;
}


#Logo {
    padding: 7px;
    margin-left: 30px;
}

.nav-menu {
    width: 750px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -375px;
}

.nav-menu-ul {
    list-style: none;
    width: 100%;
    height: 52px;
    margin: 0;
    padding: 0;
}

.nav-menu-li-a {
    color: rgba(255, 255, 255, 0.447058823529412);
    text-decoration: none;
    font-size: 17px;
    height: 52px;
    line-height: 52px;
}

.nav-menu-li-a:link {
    text-decoration: none;
    font-size: 17px;
    height: 52px;
    line-height: 52px;
}

.nav-menu-li-a:visited,
.nav-menu-li-a:hover,
.nav-menu-li-a:active {
    color: white;
    text-decoration: none;
}

.menu-li {
    height: 100%;
    float: left;
    padding-left:25px;
    padding-right: 25px; 
    height: 51px;
/*    border-right: 1px solid white;
    border-left: 1px solid white;*/

}

.actived {
    background: #b4986c
}
.actived>a{
    color: white;

}
.account {
    width: 150px;
    right: 0;
    position: absolute;
    height: 52px;
}

.account-nav {
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.account-nav>li {
    float: left;
    height: 100%;
}

.account-nav>li>img {
    margin-top: 8px;
}

.account-nav>li>a {
    height: 100%;
    color: rgba(255, 255, 255, 0.447058823529412);
    line-height: 52px;
    font-size: 16px;
    padding-left: 10px;
}


/*主体*/

#Container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-flex;
    /* Safari */
    display: flex;
}



/*侧边栏*/

.sidebar {
    width: 225px;
    height: 100%;
    background: #434343;
    border: 1px solid rgba(201, 201, 201, 1)
}


.sidebar-nav {
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0px;
}

.sidebar-nav>li {
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 50px;
}

/*.sidebar-nav>li>a {
    color: white;
    text-decoration: none;
}*/

.a1{
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.a1:hover{
     color: #FAAB21;
      text-decoration: none;
}

.li_actived {
    background: #efefef;
    border-right: 4px solid #FAAB21
}

.li_actived>a {
    color: #FAAB21;
}


/*内容*/
/*内容头部*/

.Container-content {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px
}

.title{
    padding-top: 20px;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;

}

.title_box{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    
}

.title_span{
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.date_box{
    position: absolute;
    right: 50px;
    width: 230px;
    margin-top: -5px;
}

.Container-content-box{
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-top: 20px;
}


.Container-content-box-title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}
.Container-content-box-title>p{
    float: left;
    height: 50px;
    line-height: 50px;
    color: rgb(157,131,62);
}

.q-mark{
    margin-left: 10px;
}

.q-mark>img{
    margin-top: -3px;
}




.box{
    float: left;
    height: 100%;
    border:1px solid #e5e5e5;
    border-radius: 5px;
}
.box_title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 50px;
    font-size: 14px;
    margin:0;
    color: grey;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
}
.table_box{
    padding: 10px;
}

.table_box>table>thead>tr>th{
    color: lightgrey;
    font-size: 13px;
}
.table_box>table>tbody>tr>td{
    
    font-size: 13px;
}

.btn1{
    background: rgb(157,131,62);
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    float: right;
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 10px
}

.remark{
    background: #fef9ed;
    position: absolute;
    z-index: 10000;
    width: 500px;
    height: 65px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    margin-top: 50px;
    margin-left: 85px; 
    display: none;
}

.remark>p{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.select_box{
    position: absolute;
    width: 100px;
    right: 20px;
    top: 7px;
}
.select_box select{
    font-size: 12px;
}

.more{
    float: right;
    color: rgb(157,131,62);
}
.filter_box{
    margin-left: 300px;
    width: 250px;
    padding-top: 7px;
}

.filter_box>button{
    margin-left: 10px;

}

.btn_actived{
    border-color: rgb(157,131,62);
    color: rgb(157,131,62);
}


/*Buzz_Trend*/

#Buzz_Trend{
    height: 600px;
}



.Buzz_Trend_slide{
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-flex; /* Safari */
    display: flex;
}

.Buzz_Trend_slide_brand{
    width: 280px;
    height: 100%;
    border-right: 1px solid #e5e5e5;

}
.Buzz_Trend_slide_brand>img{
    float: left;
}
.slide_box{
    width: 150px;
    height: 100%;
    float: left;
    margin-top: 5px;
    margin-left: -10px;
}

.slide_box_name{
    color: grey;
    font-size: 14px;
     margin: 0;
}

.slide_box_num{
    margin: 0;
    color: #666666;
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
}

.Buzz_Trend_slide_ul{
    height: 100%;
    flex: 1;
}

.Buzz_Trend_slide_ul>ul{
    list-style: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    /*margin-left: 30px;*/
}
.Buzz_Trend_slide_ul>ul>li{
    float: left;
    flex: 1;
    text-align: center;
}

.Buzz_Trend_slide_per{
 /*   position: absolute;*/
    margin:0; 
    /*left: 550px;*/
    width: 30px;
    height: 65px;
    line-height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(157,131,62);
    text-align: center;
    display: none;
}
.Buzz_Trend_slide_next{
    /*position: absolute;*/
    margin:0; 
    /*right: 40px;*/
    width: 30px;
    height: 65px;
    line-height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(157,131,62);
}

.Buzz_Trend_content{
    height: 465px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.Buzz_Trend_content_title{
    height: 50px;
    width: 100%;

}

.Buzz_Trend_content_title>p{
    float: left;
    height: 50px;
    line-height: 50px;
    margin:0;
    color: grey;
    font-weight: bold;
}

.Buzz_Trend_content_title>ul{
    float: right;
    list-style: none;
}
.Buzz_Trend_content_title>ul>li{
    float: left;
    width: 70px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
}

.Buzz_Trend_li_actived{
    color: rgb(157,131,62);
}

#Buzz_Trend_chart{
    width: 100%;
    height: 390px;
    margin-bottom: 20px;

}


/*Media_Channel*/

#Media_Channel{
    height: 570px
}


.Media_Channel_content{
    height: 520px;
    padding: 20px;
}



#Media_Channel_chart_box{
    width: 48%;

}

#Channel_table_box{
    width: 25%;margin-left: 1%;
}

#Active_table_box{
    width: 25%;margin-left: 1%;
}


#Media_Channel_chart{
    height: 410px;
    width: 100%;
    margin-top: 20px;
}

#Channel_table{
    height: 430px;
    width: 100%;
}

#Active_table{
    height: 430px;
    width: 100%;
}

/*Media_Sentiment*/

#Media_Sentiment{
    height: 900px
}


.Media_Sentiment_content{
    height: 850px;
    padding: 20px;
}



#Media_Sentiment_chart_box{
    width: 70%;
   height: 350px;

}

#Sentiment_table_box{
    width: 29%;margin-left: 1%;
   height: 350px;

    
}

#Sentiment_Trend_chart_box{
    width: 100%;
   height:450px;
    margin-top:10px 

}
.Sentiment_Trend_chart1{
    width: 100%;
    height: 400px;
    padding-left: 20px;
    padding-right: 10px;
}

            
#Sentiment_Trend_chart{
    width: 100%;
    height: 340px;
}
.Sentiment_box{
    height:300px;
    width: 100%;
    padding: 30px 15px;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.Sentiment_box1{
    flex: 3;
    border-right: 1px solid lightgrey;
}
.Sentiment_box2{
    flex: 2;
}
.Sentiment_box3{
    flex: 3;
}

.Sentiment_Index1{
    height: 100px;
    width: 100%;
    margin-top: 60px;
    padding-left: 30px;
}
.Sentiment_Index1>img{
    float: left;
}

.Sentiment_Index1>.slide_box{
    margin-top: 10px;
}

.Sentiment_box2>div{
    width: 100%;
    height: 70px;
}

.Sentiment_box2>div>.slide_box{
    margin-left: 30px;
}

.border_box{
    margin-left: 10%;
    float: left;
    height: 55px;
    width: 7px;
    margin-top: 5px;
}



/*Brand_Content*/

#Brand_Content{
    height: 2050px;
}
.Brand_Content_content{
    height:2000px;
    padding: 20px;
}


/*Brand_Content   Hot words*/
#Hot_Words_box{
    width: 100%;
    height: 430px;
}

#Hot_Words_chart_content{
    width: 100%;
    height: 380px;
    padding: 20px;
}

#Hot_Words_chart_box{
    width: 72%;
}
#Hot_Words_table_box{
    width: 27%;margin-left: 1%;
}



/*Brand_Content   Content Reference*/
#Content_Reference_box{
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#Content_Reference_chart_content{
    width: 100%;
    height: 350px;
    padding: 20px;
}


#Brand_Reference_table_box{
    width: 24%;
}

#Product_Reference_table_box{
    width: 24%;
    margin-left: 1%;
}

#KOL_Reference_table_box{
    width: 24%;
    margin-left: 1%;
}



#Marketing_Reference_table_box{
    width: 25%;
    margin-left: 1%;
}

/*Brand_Content   Product*/
#Product_box{
    width: 100%;
    height: 600px;
    margin-top: 20px;
}

#Product_chart_content{
    width: 100%;
    height: 550px;
    padding: 20px;
}

#Product_table_box{
    width: 29%;
    margin-left: 1%;
}

#Product_chart_box{
    width: 70%;
}

#Product_chart{
    width: 100%;
    height: 460px;
}


#Product_Concerns_chart_box{
    width: 100%;
    height: 450px;
    margin-top: 20px;
}

#Product_Concerns_chart{
    width: 100%;
    height: 340px;
}
